@using MobileTopUp;
@{
    ViewBag.Title = "Top Up";
}
<div class="container">
    <p></p>
    <!-- brand -->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg brand-selected btn-spark" brand-type="@Store.BRAND_SPARK"></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg btn-vodafone" brand-type="@Store.BRAND_VODAFONE"></button>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg btn-2degree" brand-type="@Store.BRAND_TWO_DEGREE"></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-brand btn-lg btn-skinny" brand-type="@Store.BRAND_SKINNY"></button>
        </div>
    </div>
    <!-- amount -->
    <div style="margin-top:20px"><h4>Quantity of $20 Voucher</h4></div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-quanity btn-lg" quanity="1">1</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-quanity btn-lg no-left-border" quanity="2">2</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-quanity btn-lg no-left-border" quanity="3">3</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-quanity btn-lg no-left-border" quanity="4">4</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-quanity btn-lg no-left-border" quanity="5">5</button>
        </div>
    </div>
    <p style="height:20px"></p>
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style="text-align:center">
        @if (false) { 
        <div class="btn-group" role="group">
            <span id="payAmountCNY" class="lbl-amount">
                0 CNY
            </span>
            <button type="button" class="btn btn-pay" pay-type="@Store.PAYMENT_CODE_WECHAT"><img src="~/img/wechat.png"/></button>
        </div>
        }
    </div>
    <div style="text-align:center">
        <h4 id="payAmountNZD" class="lbl-amount">0 NZD</h4>
        <div>
            <img src="~/img/pe-wide.png" class="btn-pay" pay-type="@Store.PAYMENT_CODE_PX_CC" style="width:95%;max-width:280px" />
        </div>
        <h5>*accpet Credit Card and Bank Account</h5>
    </div>

</div>
<script>
    var _denomination = @Store.VOUCHER_DEFAULT_DENOMINATION;
    var _exRateCNY = @Store.Configuration.Payment.ExchangeRateCNY;
    var _discount = @Store.Configuration.Payment.Discount;
    var _brand = "@ViewBag.Brand";
    var _quantity = @ViewBag.Qty;
    $(document).ready(function () {
        // Handler for .ready() called.
        //brand select
        $(".btn-brand").click(function () {
            $(".btn-brand").removeClass("brand-selected");
            $(this).addClass("brand-selected");
            _brand = $(this).attr("brand-type");
        });
        $(".btn-brand[brand-type='@ViewBag.Brand.ToUpper()']").click();

        //amount select
        $(".btn-quanity").click(function () {
            $(".btn-quanity").removeClass("quanity-selected");
            $(this).addClass("quanity-selected");
            showPayAmount($(this).attr("quanity"));
        })
        $(".btn-quanity[quanity='@ViewBag.Qty']").click();

        //pay button
        $(".btn-pay").click(function () {
            var confirmUrl = "/confirm/" + _brand + "/" + _quantity + "/" + $(this).attr("pay-type");
            location.href = confirmUrl;
        })
    });

    function showPayAmount(quanity) {
        var idx = 0;
        _quantity = quanity;
        amount = _denomination * _quantity;
        var nzd = amount * _discount;
        var cny = nzd * _exRateCNY;
        $("#payAmountNZD").text(nzd.toFixed(2) + " NZD");
        //$("#payAmountCNY").text(cny.toFixed(2) + " CNY");
    }
</script>